*{
	margin : 0 ; 
	padding : 0 ;
	box-sizing: border-box ;

}

/* import after the changes */ 
@import "bootstrap/functions";
@import "bootstrap/variables";
@import "bootstrap/mixins";
@import "bootstrap/root";
@import "bootstrap/reboot";
@import "bootstrap/type";
@import "bootstrap/images";
@import "bootstrap/code";
@import "bootstrap/grid";
@import "bootstrap/tables";
@import "bootstrap/forms";
@import "bootstrap/buttons";
@import "bootstrap/transitions";
@import "bootstrap/dropdown";
@import "bootstrap/button-group";
@import "bootstrap/input-group";
@import "bootstrap/custom-forms";
@import "bootstrap/nav";
@import "bootstrap/navbar";
@import "bootstrap/card";
@import "bootstrap/breadcrumb";
@import "bootstrap/pagination";
@import "bootstrap/badge";
@import "bootstrap/jumbotron";
@import "bootstrap/alert";
@import "bootstrap/progress";
@import "bootstrap/media";
@import "bootstrap/list-group";
@import "bootstrap/close";
@import "bootstrap/modal";
@import "bootstrap/tooltip";
@import "bootstrap/popover";
@import "bootstrap/carousel";
@import "bootstrap/utilities";
@import "bootstrap/print";


#logo{
	width : 180px ;
	margin-left : 52px ;
	height : 50px ;
	margin-left: -2px;
}

.navbar-hide {
    top: -150px;
}
nav {
	position : relative;
	transition : 0.5s ;
}

.navbar-light .navbar-nav .active>.nav-link, .navbar-light .navbar-nav .nav-link.active, .navbar-light .navbar-nav .nav-link.show, .navbar-light .navbar-nav .show>.nav-link {
	color: #fff;
}
.navbar-light .navbar-nav .nav-link {
	color: #fff;
}
.navbar-toggler {
	background: #fff;
}
.navbar-nav {
	text-align: right;
  line-height: 16.8px;
}
.nav-link {
	padding: .5rem 3rem;
	font-size: 16px;
	font-style: normal;
	font-weight: normal;
	margin-left: 14px;
	margin-right: 14px;
}
.nav-link.active, .nav-link:focus {
	color: #fff;
}
#encadre {
	border-width: 1.6px;
	border-style: solid ;
	border-color:rgba(39,200,175,1);
	border-radius: 5px 5px 5px 5px;
}
.navbar-toggler {
	padding: 2px 5px;
	font-size: 25px;
}
.navbar-light .navbar-nav .nav-link:focus, .navbar-light .navbar-nav .nav-link:hover {
	color :#34bfa3;
}
header.masthead {
	background-color: #282828;
    height: 220px;
  }
  
  
 
	header.masthead {
	  padding-top: 0.4rem;
	}
	header.masthead .masthead-subheading {
	  font-size: 2.25rem;
	  font-style: italic;
	  line-height: 2.25rem;
	  margin-bottom: 1rem;
	}
	header.masthead .masthead-heading {
	  font-size: 4.5rem;
	  font-weight: 700;
	  line-height: 3rem;
	  margin-bottom: 4rem;
	}

  #Groupe_5237 {
    margin-top: -100px;
	position: absolute;
	left: 109px;
	top: 110px;
	overflow: visible;
}
#S_inscrire_eo {
	left: -12px;
	top: 78px;
    margin-top: 30px;
    margin-left: -2px ;
	position: absolute;
	overflow: visible;
	white-space: nowrap;
	text-align: left;
	font-family: Raleway;
	font-style: normal;
	font-weight: bold;
	font-size: 32px;
	color: rgba(39,200,175,1);
}

#Home_ep {
	left: -10px;
	top: 156px;
	position: absolute;
	overflow: visible;
	white-space: nowrap;
	line-height: 28px;
	margin-top: -3px;
	text-align: left;
	font-family: Raleway;
	font-style: normal;
	font-weight: normal;
	font-size: 16px;
	color: rgba(255,255,255,1);
}
#Groupe_5353 {
	position: absolute;
	
	left: 600px;
	top: 260px;
	overflow: visible;

}
#a1 {
	opacity: 0.7;
	left: 60px;
	top: 180px;
	position: absolute;
	overflow: visible;
	white-space: nowrap;
	line-height: 22px;
	margin-top: -3px;
	text-align: left;
	font-family: Raleway;
	font-style: normal;
	font-weight: normal;
	font-size: 16px;
	color: rgba(40,40,40,1);
}

#Vous_navez_pas_de_compte_ {
	left: 50px;
	top: 90px;
	position: absolute;
	overflow: visible;
	white-space: nowrap;
	text-align: left;
	font-family: Raleway;
	font-style: normal;
	font-weight: bold;
	font-size: 31px;
	color: rgba(40,40,40,1);
}
#Short_Button {
	position: absolute;
	height: 64px;
	left: 0px;
	top: 287px;
	overflow: visible;
}
#Rectangle_415 {
	fill: transparent;
	stroke: rgba(39,200,175,1);
	stroke-width: 1.3px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.Rectangle_415 {
	position: absolute;
	overflow: visible;
	width: 100px;
	height:20px;
	left: 60px;
	top: -35px;
}
#Features_ej {
	left: 100px;
	top: -28px;
	position: absolute;
	overflow: visible; 
	white-space: nowrap;
	text-align: center;
	font-family: Raleway;
	font-style: normal;
	font-weight: bold;
	font-size: 17px;
	color: rgba(40,40,40,1);
}
#Groupe_5360 {
	position: absolute;
	left: -460px;
	top: 70px;
	overflow: visible;
}

#Rectangle_501 {
	fill: rgba(39,200,175,1);
}
.Rectangle_501 {
	position: absolute;
	overflow: visible;
	
	left: 0px;
	top: 94px;
	margin-left : 56px ;
	margin-top : 60px ;
}
#separe{
    background-color: white ;
    height : 670px ;
  }
  .footer-big {
    padding:20px  ;
   }
   .footer-big .footer-widget {
    margin-bottom: -68px
   }
   .footer--light {
    background:#282828 ;
   }
   .footer-big .footer-menu ul li a,.footer-big p,.footer-big ul li {
    color:white ;
   }
   .footer-menu {
    padding-left:20px
   }
   .footer-menu ul li a {
    font-size:15px;
    line-height:29px;
    -webkit-transition:.3s;
    -o-transition:.3s;
    transition:.3s
   }
   .footer-menu ul li a:hover {
    color:rgba(39,200,175,1);
   }
   .footer-menu--1 {
    width:100% ;
   }
   
   .mini-footer {
    background:#282828 ;
    text-align:center;
    padding:25px 0
   }
   .mini-footer p {
    margin-left : 430px;
    line-height:0px;
    font-size:15px;
    color:white ;
   }
   .mini-footer p a {
    color:rgba(39,200,175,1) ; 
    font-weight : bold ;
   }
   .mini-footer p a:hover {
    color:#34bfa3
   }
   #googleplay{
    width : 180px ;
    margin-left: -2px;
    margin-top: 8px;
  }
  @import url(https://fonts.googleapis.com/css?family=Rubik:300,400,500,700);
  body {
   font-family:Raleway ;
   position:relative;
   font-weight:400;
   font-size:15px
  }
  ul {
   padding:0;
   margin:0
  }
  li {
   list-style:none;
  }
  a:focus,a:hover {
   text-decoration:none;
   -webkit-transition:.3s ease;
   -o-transition:.3s ease;
   transition:.3s ease
  }
  a:focus {
   outline:0
  }
  img {
   max-width:100%
  }
  p {
   font-size:16px;
   line-height:30px;
   color:#898b96;
   font-weight:300
  }
  h4 {
   font-family:Rubik,sans-serif;
   margin:0;
   font-weight:400;
   padding:0;
   color:#363940
  }
  a {
   color:#5867dd
  }
  .no-padding {
   padding:0!important ;
  }
  .go_top {
   line-height:20px;
   cursor:pointer;
   width:40px;
   background:#282828 ;
   color:#fff;
   position:fixed;
   -webkit-box-shadow:0 2px 2px rgba(0,0,0,.1);
   box-shadow:0 2px 2px rgba(0,0,0,.1);
   -webkit-border-radius:50%;
   border-radius:50%;
   right:-webkit-calc((100% - 1140px)/ 2);
   right:calc((100% - 1140px)/ 2);
   z-index:111;
   bottom:120px;
   text-align:center
  }
  .go_top span {
   display:inline-block ;
  }
  
  .widget-about img {
   display:block;
   margin-bottom:15px
  }
  .widget-about p {
   font-weight:400
  }
  .widget-about .contact-details {
   margin:20px 0 0 0
  }
  .widget-about .contact-details li {
   margin-bottom:1px
  }
  .widget-about .contact-details li:last-child {
   margin-bottom:0
  }
  .widget-about .contact-details li span {
   padding-right:5px
  }
  #suivez{
	  top : 10px ;
  }
  .widget-about .contact-details li a {
   color:#5867dd
  }
  #Trac_66 {
    fill: rgba(39,200,175,1);
  }
  .Trac_66 {
    overflow: visible;
    position: absolute;
    width: 27px;
    height: 30px;
    left: 11px;
    top: 77px;
    transform: matrix(1,0,0,1,0,0);
  }
  #Trac_75 {
    fill: rgba(39,200,175,1);
  }
  .Trac_75 {
    overflow: visible;
    position: absolute;
    width: 28px;
    height: 30px;
    left: 56px;
    top: 68.7px;
    transform: matrix(1,0,0,1,0,0);
  }
  #Trac_68 {
    fill: rgba(39,200,175,1);
  }
  .Trac_68 {
    overflow: visible;
    position: absolute;
    width: 28px;
    
    left:36px;
    top: 50.8px;
    transform: matrix(1,0,0,1,0,0);
  }
  #Groupe_5339 {
	position: absolute;
	height: 162px;
	left: -510px;
	top: 12px;
	overflow: visible;
}
#isaac-smith-AT77Q0Njnt0-unspla {
	fill: rgba(247,247,247,1);
}
.isaac-smith-AT77Q0Njnt0-unspla {
	position: absolute;
	overflow: visible;

	left: 0px;
	top: 0px;
}
#Groupe_5338 {
	position: absolute;
	height: 64px;
	left: 32px;
	top: 564px;
	overflow: visible;
}
#Rectangle_503 {
	fill: rgba(39,200,175,1);
}
.Rectangle_503 {
	position: absolute;
	overflow: visible;
	height: 44px;
	left: -7px;
	top: -209px;
}
#Features {
	left: 161px;
	top: -203px;
	position: absolute;
	overflow: visible;
	width: 87px;
	white-space: nowrap;
	text-align: center;
	font-family: Raleway;
	font-style: normal;
	font-weight: bold;
	font-size: 18px;
	color: rgba(255,255,255,1);
}
#Short_Input {
	position: absolute;
	height: 56px;
	left: 32px;
	top: 32px;
	overflow: visible;
}
#Rectangle_487 {
	fill: rgba(255,255,255,1);
}
.Rectangle_487 {
	position: absolute;
	overflow: visible;
	
	left: -10px;
	top: 22px;
}
#Home_dx {
	left: 5px;
	top: -11px;
	position: absolute;
	overflow: visible;
	width: 86px;
	white-space: nowrap;
	line-height: 28px;
	margin-top: -3px;
	text-align: left;
	font-family: Raleway;
	font-style: normal;
	font-weight: normal;
	font-size: 18px;
	color: rgba(40,40,40,1);
}
#Home_dy {
	opacity: 0.5;
	left: 2px;
	top: 27.5px;
	position: absolute;
	width: 30px;
	white-space: nowrap;
	line-height: 28px;
	margin-top: -3px;
	text-align: left;
	font-family: Raleway;
	font-style: normal;
	font-weight: normal;
	font-size: 17px;
	color: rgba(40,40,40,1);
}
#Short_Input_d {
	position: absolute;
	width: 190px;
	height: 56px;
	left: 345px;
	top: 20px;
	overflow: visible;
}
#Rectangle_487_d {
	fill: rgba(255,255,255,1);
}
.Rectangle_487_d {
	position: absolute;
	overflow: visible;
	
	left: -105px;
	top: 33px;
}
#Home_d {
	left: -86px;
	top: 2px;
	position: absolute;
	overflow: visible;
	width: 58px;
	white-space: nowrap;
	line-height: 28px;
	margin-top: -3px;
	text-align: left;
	font-family: Raleway;
	font-style: normal;
	font-weight: normal;
	font-size: 18px;
	color: rgba(40,40,40,1);
}
#Home_ea {
	opacity: 0.5;
	left: -89px;
	top: 40px;
	position: absolute;
	overflow: visible;
	width: 49px;
	white-space: nowrap;
	line-height: 28px;
	margin-top: -3px;
	text-align: left;
	font-family: Raleway;
	font-style: normal;
	font-weight: normal;
	font-size: 17px;
	color: rgba(40,40,40,1);
}
#Groupe_5352 {
	position: absolute;
	height: 59px;
	left: 10px;
	top: 305px;
	overflow: visible;
}
#Home_dr {
	left: 26px;
	top: -106px;
	position: absolute;
	overflow: visible;
	width: 141px;
	white-space: nowrap;
	line-height: 28px;
	margin-top: -3px;
	text-align: left;
	font-family: Raleway;
	font-style: normal;
	font-weight: normal;
	font-size: 18px;
	color: rgba(40,40,40,1);
}
#Groupe_5253_ds {
	position: absolute;
	left: -20px;
	top: 45px;
	overflow: visible;
}
#Rectangle_517_dt {
	fill: rgba(255,255,255,1);
}
.Rectangle_517_dt {
	position: absolute;
	overflow: visible;
	height: 27px;
	left: 34px;
	top: -108px;
}
#Home_du {
	opacity: 0.5;
	left: 48px;
	top: -102px;
	position: absolute;
	overflow: visible;
	width: 132px;
	white-space: nowrap;
	line-height: 28px;
	margin-top: -3px;
	text-align: left;
	font-family: Raleway;
	font-style: normal;
	font-weight: normal;
	font-size: 17px;
	color: rgba(40,40,40,1);
}
#Groupe_5337 {
	position: absolute;
	height: 59px;
	left: 16px;
	top: 167px;
	overflow: visible;
}
#Home_dm {
	left: 20px;
	top: -61px;
	position: absolute;
	overflow: visible;
	width: 154px;
	white-space: nowrap;
	line-height: 28px;
	margin-top: -3px;
	text-align: left;
	font-family: Raleway;
	font-style: normal;
	font-weight: normal;
	font-size: 18px;
	color: rgba(40,40,40,1);
}
#Groupe_5253 {
	position: absolute;
	height: 64px;
	left: 0px;
	top: 45px;
	overflow: visible;
}
#Rectangle_517 {
	fill: rgba(255,255,255,1);
}
.Rectangle_517 {
	position: absolute;
	overflow: visible;
	height: 34px;
	left: 8px;
	top: -66px;
}
#Home_dp {
	opacity: 0.5;
	left: 21.4px;
	top: -60px;
	position: absolute;
	overflow: visible;
	width: 145px;
	white-space: nowrap;
	line-height: 28px;
	margin-top: -3px;
	text-align: left;
	font-family: Raleway;
	font-style: normal;
	font-weight: normal;
	font-size: 17px;
	color: rgba(40,40,40,1);
}
input{
    border : 0 ;
    outline-style: none;
}
#Checkbox {
	position: absolute;
	width: 16px;
	height: 16px;
	left: 38px;
	top: 302px;
	overflow: visible;
}
#Rectangle_499 {
	fill: transparent;
	stroke: rgba(39,200,175,1);
	stroke-width: 1px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.Rectangle_499 {
	position: absolute;
	overflow: visible;
	left: 0px;
	top: 0px;
}
#check {
	fill: rgba(39,200,175,1);
}
.check {
	overflow: visible;
	position: absolute;
	width: 9.2px;
	height: 7.8px;
	left: 2.4px;
	top: 3.1px;
	transform: matrix(1,0,0,1,0,0);
}
#Jaccepte_les_CGV_ainsi_que_la_ {
	left: 66px;
	top: 302px;
	position: absolute;
	overflow: visible;

	white-space: nowrap;
	line-height: 19px;
	margin-top: -3px;
	text-align: left;
	font-family: Raleway;
	font-style: normal;
	font-weight: normal;
	font-size: 15px;
	color: rgba(40,40,40,1);
}
#Rectangle_522 {
	fill: rgba(195,195,195,1);
}
.Rectangle_522 {
	position: absolute;
	overflow: visible;
	left: 26px;
	top: 419px;
}
#Ou_Inscrivez-vous_en_utilisant {
	left: 78px;
	top: 436px;
	position: absolute;
	overflow: visible;
	white-space: nowrap;
	line-height: 28px;
	margin-top: -3px;
	text-align: center;
	font-family: Raleway;
	font-style: normal;
	font-weight: normal;
	font-size: 16px;
	color: rgba(40,40,40,1);
}
#Groupe_5357 {
	position: absolute;
	left: 92px;
	top: 480px;
	overflow: visible;
}
#Groupe_5354 {
	position: absolute;
	left: 0px;
	top: 0px;
	overflow: visible;
}
#Ellipse_171 {
	fill: rgba(0,122,185,1);
}
.Ellipse_171 {
	position: absolute;
	overflow: visible;
	width: 64px;
	height: 64px;
	left: 153px;
	top: 0px;
}
#Ellipse_172 {
	fill: rgba(255,255,255,1);
}
.Ellipse_172 {
	position: absolute;
	overflow: visible;
	width: 64px;
	height: 64px;
	left: 219px;
	top: 0px;
}
#Groupe_5289 {
	position: absolute;
	width: 35.671px;
	height: 34.087px;
	left: 168.004px;
	top: 13.67px;
	overflow: visible;
}
#Trac_3044 {
	fill: rgba(241,242,242,1);
}
.Trac_3044 {
	overflow: visible;
	position: absolute;
	width: 28px;
	height: 27px;
	left: -4px;
	top: -4px;
	transform: matrix(1,0,0,1,0,0);
}
#facebook {
	position: absolute;
	width: 64px;
	height: 64px;
	left: 0px;
	top: 0px;
	overflow: visible;
}
#Ellipse_169 {
	fill: rgba(59,89,152,1);
}
.Ellipse_169 {
	position: absolute;
	overflow: visible;
	width: 64px;
	height: 64px;
	left: 24px;
	top: 0px;
}
#Trac_3042 {
	fill: rgba(255,255,255,1);
}
.Trac_3042 {
	overflow: visible;
	position: absolute;
	width: 18px;
	height: 32px;
	left: 39px;
	top: 9.411px;
	transform: matrix(1,0,0,1,0,0);
}
#twitter {
	position: absolute;
	width: 64px;
	height: 64px;
	left: 89.6px;
	top: 0px;
	overflow: visible;
}
#Ellipse_170 {
	fill: rgba(85,172,238,1);
}
.Ellipse_170 {
	position: absolute;
	overflow: visible;
	width: 64px;
	height: 64px;
	left: 0px;
	top: 0px;
}
#Groupe_5288 {
	position: absolute;
	width: 37.274px;
	height: 30.292px;
	left: 14.099px;
	top: 19.406px;
	overflow: visible;
}
#Trac_3043 {
	fill: rgba(241,242,242,1);
}
.Trac_3043 {
	overflow: visible;
	position: absolute;
	width: 35px;
	height: 28px;
	left: -6px;
	top: -6px;
	transform: matrix(1,0,0,1,0,0);
}
#Groupe_5356 {
	position: absolute;
	width: 38px;
	height: 38px;
	left: 130px;
	top: 8px;
	overflow: visible;
}
#search_2 {
	position: absolute;
	width: 48px;
	height: 48px;
	left: 0px;
	top: 0px;
	overflow: visible;
}
#Trac_3051 {
	fill: rgba(251,187,0,1);
}
.Trac_3051 {
	overflow: visible;
	position: absolute;
	width: 20px;
	height: 19px;
	left: 2px;
	top: 10px;
	transform: matrix(1,0,0,1,0,0);
}
#Trac_3052 {
	fill: rgba(81,142,248,1);
}
.Trac_3052 {
	overflow: visible;
	position: absolute;
	width: 19px;
	height: 19px;
	left: 25px;
	top: 15px;
	transform: matrix(1,0,0,1,0,0);
}
#Trac_3053 {
	fill: rgba(40,180,70,1);
}
.Trac_3053 {
	overflow: visible;
	position: absolute;
	width: 30.5px;
	height: 15px;
	left: 8px;
	top: 22px;
	transform: matrix(1,0,0,1,0,0);
}
#Trac_3054 {
	fill: rgba(241,67,54,1);
}
.Trac_3054 {
	overflow: visible;
	position: absolute;
	width: 34px;
	height: 16px;
	left: 8px;
	top:0px;
	transform: matrix(1,0,0,1,0,0);
}
#groupe1{
	margin-left : 30px ;

}
#logo1{
	width : 190px ;
	height : 59px ;
}
#footerp{
	margin-top : -30px ;
}
@media (max-width: 1000px) {
	#S_inscrire_eo{
		margin-top: 30px;
	}
	#Home_ep{
		margin-top: 7px;
	}
	header.masthead {
		height : 244px ;
	}	
	footer{
		width : 592px;
		height : 526px ;
	}
	#separe{
		height : 910px ;
	}
	 .Rectangle_501 ,  #a1 , .Rectangle_415 , #Vous_navez_pas_de_compte_{
		top : 600px ;
		left : -500px ;
	}
	#Groupe_5353{
		left : 300px ;
	}
	.isaac-smith-AT77Q0Njnt0-unspla  ,  #Home_dx{
		left : 268px ;
	}
	#Home_dx{
		left : 266px ;
	}
	.Rectangle_503 {
		left : 258.5px ;
	}
	#Features{
		left : 430px ;
	}
	#Home_d{
		left : 180px ;
	}
    .Rectangle_487{
		margin-left :260px ;
	}
	.Rectangle_487_d{
		margin-left : 262px ;
	}
	#Home_dy{
		left : 266px ;
	}
	#Home_ea{
		left : 180px ;
	}
	#Home_dm{
		left : 280px ;
	}
	#Home_dp{
		left : 280px ;
	}
	#Home_dr{
		left : 280px ;
	}
	.Rectangle_517{
		left : 266.6px ;
	}
	.Rectangle_517_dt{
		left : 294px ;
	}
	#Home_du{
		left : 306px ;
	}
	#Checkbox{
		left : 290px ;
	}
	#Jaccepte_les_CGV_ainsi_que_la_{
		left : 316px ;
	}
	#Groupe_5357{
		left : 360px ;
	}
	.Rectangle_522{
		left : 292px ;
	}
	#Ou_Inscrivez-vous_en_utilisant{
		left : 338px ;
	}
	#Vous_navez_pas_de_compte_{
		left : -200px ;
	}
	#a1{
		left : -192px ;
		top : 685px ;
	}
	.Rectangle_501{
		left : -247px ;
		top : 599px ;
	}
	.Rectangle_415{
		left : -192px ;
		top : 465px ;
	}
	#Features_ej{
		left : -148.6px ;
		top : 472px ;
	}
	#Groupe_5237{
		margin-left : -40px ;
	}
	#logo{
		margin-left : -15px ;
	}
	#logo1{
		margin-left : 158px ;
		width : 196px ;
		height : 63px ;

	}
	#groupe1{
		margin-top : 30px ;
		margin-left : 40px ;
	}
	#groupe2{
		margin-top : -91.2px ;
		margin-left : 280px ;
	}
    #googleplay{
		margin-left : 171px ;
		margin-top : -16px ;
	}

	#pfooter{
		margin-top : 22px ;
		margin-left: 6px;
	}
	header{
		width : 592px;
	}
	
	
	#footerpr{
		margin-left : -240px ;
		margin-top : -20px ;

	}
	.Short_Button{
		margin-left: 100px;
	}

	

	
	
	

    
}